<% header = link_to('All Posts', posts_path) + " &raquo; #{@post.title}".html_safe %>
<%= render 'shared/content_title', title: header %>
  <div class="row">
    <div class="span8 well">
    <div class="post-body">
    <%= render @post.categories %>
    <p><%= @post.description %></p>
    <div class="meta">
    <span class="meta_name">Posted by: <%= @post.user.username %></span>
    <br />
    <span class="small">Created on: <%= show_datetime(@post.created_at)  %></span></div><br />
    </div>
      <% @post.comments.each do |comment|  %>
      <div class="comment_body well">
      <p><%= comment.body %></p>
      <div class="meta">
      <span class="meta_name">Posted by: <%= comment.user.username %></span>
    <br />
    <span class="small">Created on: <%= show_datetime(@post.created_at)  %></span></div><br />
      <% end %>
      <div class="row form">
       <h4>Create Comment</h4>
    <%=  form_for [@post, @comment] do |f| %>
        <%= render 'shared/errors', obj: @comment %>
    <div class="field">
      <%= f.text_area :body, :size => "60x7" %>
    </div>
    <div class="actions">
      <%= f.submit "Create", class: 'myButton' %>
    <% end %>
  </div>
</div>
    </div>
    </div>
    
  </div>
</ul>
